---
layout: index
title: index
tagline: index
---
{% include JB/setup %}

    <div class="row-fluid post-full">
        <div class="span12" style="display:none"></div>
  {% for post in paginator.posts %}
        {% capture summary %}{{post.content | split:'<!--more-->' |first }}{% endcapture%}
    <div class="span12">
        <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
          Posted by <strong>{{ site.author.name }}</strong> at <strong>{{ post.date | date: "%Y-%m-%d" }}</strong> with tags {% for tag in post.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
        </p>
        <div class="post_at_index">
            {{summary}} 
        {% if summary != post.content %}<a href="{{ BASE_PATH }}{{ post.url }}" rel="nofollow">Read more...</a>{% endif %}
        </div>
        <div style="clear: both;"></div>
    </div> 
 {% endfor %}
    </div>
   {% include ever/pagination %}




